<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music Controller</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
    />
  </head>
  <body>
    <!--
      <div id="main">
      <div id="app"></div>
    </div>
    <script src="{% static "frontend/main.js" %}"></script> 
  -->
    <form id="search">
      <input type="text" name="q" />
      <input type="submit" value="search" />
    </form>
    <ol id="list"></ol>
    <script>
      let search = document.getElementById("search");
      search.addEventListener("keyup", function (event) {
        let query = event.target.value;
        console.log(query);
        fetch(`https://openlibrary.org/search.json?q=${query}`)
          .then((response) => response.json())
          .then((data) => {
            const array = data.docs;
            let html = "";
            array.forEach((element) => {
              html += `<li> ${element.title} </li>`;
            });
            document.getElementById("list").innerHTML = html;
          })
          .catch((error) => console.error(error));
      });
    </script>
  </body>
</html>
